#qna {
  display: none;
}

.qnaBox {
  margin-top: 32px;
  width: 80%;
  background-color: whitesmoke;
  text-align: center;
  border-radius: 20px;
}

.qBox {
  font-size: 24px;
}

.answerList {
  display: block;
  margin: 20px auto 10px auto;
  padding: 5px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
}

.answerList:hover, .answerList:focus {
  background-color: lavender;
}

.status {
  width: 80%;
  height: 10px;
  background-color: grey;
  border-radius: 10px;
}

.statusBar {
  height: 100%;
  background-color: lavender;
  border-radius: 10px;
}
